DATA TYPES-Theoretical questions

 # 1.What are data structures, and why are they important?
 ANS:
 Data structure are ways to store and organize data in a computer so we can use it easily abd fast.
 Example:
A list is a data structure. It helps you keep many values together like:

marks = [90, 85, 70]

Why important:
- Easy to manage data
- Fast to find or update data
- store data properly
- Save memory abd time
- Save real-life problems

 # 2. Difference between mutable and immutable data types

| **Mutable**                           | **Immutable**                            |
| ------------------------------------- | ---------------------------------------- |
| Can be changed after creation         | Cannot be changed after creation         |
| Example: List, Dictionary, Set        | Example: String, Tuple, Integer          |
| You can add, remove, or update values | You cannot change the value or structure |
| Use more memory if changed often      | Use less memory for fixed values         |

# 3. Difference between list and tuple

| **List**              | **Tuple**                 |
| --------------------- | ------------------------- |
| Mutable (can change)  | Immutable (cannot change) |
| Written with `[]`     | Written with `()`         |
| Slower than tuple     | Faster than list          |
| Can add, remove items | Cannot add, remove items  |

# 4. How do dictionaries store data?
ANS:
Dictionaries use key-value pairs.

- Example:

student = {"name": "Komal", "age": 21}  
NOTE:"name" is key, "Komal" is value

# 5. Why use a set instead of a list?
ANS:
Set removes duplicates

Set is faster for checking values
- Example:

my_set = {1, 2, 2, 3}  
print(my_set)  # Output: {1, 2, 3}

# 6. What is a string in Python, and how is it different from a list?
ANS:
String is a group of characters
You can’t change a string, but you can change a list
Example:
- String
s = "hello"
- List
  l =['h', 'e', 'l', 'l', 'o']  
l[0] = 'H'
- NOTE:s[0] = 'H' Not allowed

# 7.How do tuples ensure data integrity?
ANS:
Tuples can’t change, so data is safe

Good for fixed data


- Example:

location = (19.0760, 72.877)

# 8.What is a hash table and how does it relate to dictionaries?
ANS:
Hash table is a way to store data using a key

Dictionary in Python uses hash table inside

- Example:

data = {"name": "Komal"}

# 9. Can lists have different types of data?
ANS:
Yes!

- Example:

my_tuple = [1, "hello", 3.14, True]

# 10. Why are strings immutable in Python?
ANS:
Saves memory

Secure and fast
- Example:

s = "apple"  
NOTE:s[0] = 'A' Not allowed

# 11. What advantages do dictionaries offer over lists for certain tasks?
ANS:
- Fast access to data using a key (like a name).
- Easy to search by key, not by position.
- Keys are unique, so no duplicates.
- Better for mapping values (like names to marks).

# 12. Describe a situation where a tuple is better than a list.
ANS:
- Use a tuple when:
- You don’t want to change the data
- Data should be safe and fixed
- It makes your code faster and more secure

# 13. How do sets handle duplicate values in Python?

ANS:
Its handles duplicate values by remove duplicates automatically.
- Example:
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

# 14. How does the "in" keyword work for lists and dictionaries?
ANS:
For list: checks value  
For dictionary: checks key
- Example:
my_list = [1, 2, 3]  
print(2 in my_list)  # True

# 15. Can you modify the elements of a tuple? Why or why not?
ANS:
 No, you can’t change tuple values.
Reason: Tuple is immutable.

- Example:

t = (1, 2, 3)  
NOTE: t[0] = 10  Not allowed

# 16. What is a nested dictionary? Give an example.
ANS:
Nested dictionary means a dictionary inside another dictionary.
- Example:
student = {
  "name": "Komal",  
"marks": {"math": 90, "science": 85}  
}

# 17. Describe the time complexity of looking up a value in a dictionary.
ANS:
- It's very fast: almost O(1) time.
- Means: takes same time even for big data.

# 18. When are lists preferred over dictionaries?
ANS:
Use lists when:
- You need order
- You don’t need key-value
- You want to loop through items
- Example:
fruits = ["apple", "banana", "cherry"]

# 19. Why are dictionaries unordered, and how does that affect data retrieval?
ANS:
Dictionaries in Python are unordered collections (before Python version 3.7). This means that the items (key-value pairs) are not stored in a fixed sequence. The main reason for this is that dictionaries use a technique called hashing, which allows for fast data retrieval by key.
Each key in the dictionary is converted to a unique index using a hash function. Because of this, the position of items in memory is based on the hash values, not on the order in which they were added.

Effect on Data Retrieval:
Fast Access: Retrieval is very fast using the key, for example: d["name"] gives the value directly.

No Order Guarantee (before Python 3.7): We cannot expect items to be returned in the same order as they were inserted.

Order Maintained (from Python 3.7+): Python maintains insertion order, but we still should not depend on it for logical operations unless order matters.

- Example:
my_dict = {"apple": 1, "banana": 2, "cherry": 3}
print(my_dict["banana"])  # Output: 2

# 20. Difference between list and dictionary in data retrieval?
| **Point**     | **List**                                         | **Dictionary**                                            |
| --------------| ------------------------------------------------ | ----------------------------------------------------------|
| Access Method | Uses index numbers                               | Uses keys                                                 |
| Data Retrieval| Slower if you search by value (you need to loop) | Faster because it uses key-based access                   |
| Example       | `my_list[2]` gives 3rd item                      | `my_dict["name"]` gives value of key `"name"`             |
| Order         | Maintains order (index 0, 1, 2...)               | From Python 3.7+, keeps insertion order, but uses hashing |
| Best Use      | When you need items in a sequence                | When you need to connect key to value (like a name to age)|

Practical questions

In [236]:
# 1.Write a code to creats a string with your name and print it.
my_info="name: komal ghadge"
print(my_info)

name: komal ghadge

In [23]:
# 2.Write a code to find the length of thr string "Hello world"
str="Hello World"
str1=len(str)
print(str1)

11

In [3]:
# 3.Write a code to Slice the first 3 characters from the string "Python Programming."
my_str="Python Programming"
print(my_str[:3])

Pyt

In [5]:
# 4.Write a code to convert the string "Hello" to uppercase
str="hello"
print(str.upper())

HELLO

In [9]:
# 5.Write a code to replace the word "apple" with "Orange" in the string "I like apple".
str="I like apple"
print(str.replace("apple","Orange"))

I like Orange

In [11]:
# 6.Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [19]:
# 7.Write a code to append the number 10 to the list [1,2,3,4]
my_list=[1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [28]:
# 8.Write a code to remove the number 3 from the list [1,2,3,4,5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [1]:
# 9.Write a code to access the second element in the list ['a','b','c','d']
list=['a','b','c','d']
print(list[1])

b

In [32]:
# 10.Write a code to reverse the list [10,20,30,40,50]
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [34]:
# 11.Write a code to create a tuple with the elements 100,200,300 and print it.
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [175]:
# 12.write a code to access the second-to-last element of the tuple ('red','green','blue') and print it.
my_tuple=('red','green','blue','Yellow')
print(my_tuple[-2])

blue

In [177]:
# 13.Write a code to find the minimum number in the tuple(10,20,15,5)
tuple=(10,20,15,5)
print(min(tuple))

5

In [179]:
# 14.Write a code to find the index of the element 'cat' in the tuple ('dog','cat','rabbit')
tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [181]:
# 15 Write a code to create a tuple containing three different truits and check if 'kiwi' is in it.
tuple=('Banana','Apple','Kiwi')
print('Kiwi' in tuple)

True

In [66]:
#16.Write a code to create a set with the elements 'a','b','c' and print it
my_set={'a','b','c' }
print(my_set)

{'b', 'a', 'c'}

In [70]:
# 17.Write a code to clear all elements from the set {1,2,3,4,5}
set= {1,2,3,4,5}
set.clear()
print(set)

set()

In [72]:
# 18.Write a code to remove the elements 4 from set {1,2,3,4}
set ={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [74]:
# 19.Write a code to find the union of two sets {1,2,3} and {3,4,5}
set1={1,2,3}
set2={3,4,5}
print(set1.union (set2))

{1, 2, 3, 4, 5}

In [76]:
# 20.Write a code to find the intersection of two sets {1,2,3} and {2,3,4}
se1={1,2,3}
set2={2,3,4}
print(set1.intersection (set2))

{2, 3}

In [183]:
# 21.Write a code to create a dictionary with the keys "name","age",and "city", and print it.
dic={"name":"Komal Ghadge","age":21,"city":"Satara"}
print(dic)

{'name': 'Komal Ghadge', 'age': 21, 'city': 'Satara'}

In [84]:
# 22.Write a code to add to new key-value pair "Country":"USA" to the dictionary {"name":"John","age:":25}
dic= {"name":"John","age:":25}
dic.update({"Country":"USA" })
print(dic)

{'name': 'John', 'age:': 25, 'Country': 'USA'}

In [86]:
#23.Write a code to access the value associated with the key "name" in the dictionary  {"name":"Alice","age:":30}
my_dict= {"name":"Alice","age:":30}
print(my_dict.get("name"))

Alice

In [88]:
# 24.Write a code to remove the key "age" from the dictionary {'name':'Bob','age':22,'city':'New York'}
dict= {'name':'Bob','age':22,'city':'New York'}
del dict["age"]#pop also can be use.
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [162]:
# 25 Write a code to check if the key "city" exists in the dictionary  {'name':'Alice',city':'Paris'}
dict = {'name':'Alice','city':'Paris'}
print('city' in dict)

True

In [185]:
# 26.Write a code to create a list ,a tuple, and a dictionary, and print them all
list=[1,2,3.4,True,"Dream_Germany"]
tuple=(3.7,7,8,"Family",True,6+7j)
dict={"mom":"Yamuna","father":"Sanjay","Brother":"Abhishek","age":21}
print(list)
print(tuple)
print(dict)

[1, 2, 3.4, True, 'Dream_Germany']
(3.7, 7, 8, 'Family', True, (6+7j))
{'mom': 'Yamuna', 'father': 'Sanjay', 'Brother': 'Abhishek', 'age': 21}

In [158]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and  print the result(replaced).
import random
list=random.sample(range(1, 101), 5)
list.sort()
print(list)

[19, 60, 68, 82, 100]

In [156]:
# 28.Write a code to create a list with strings and print the element at the third index.
list =["Apple","Banana","Cherry","Date"]
print(list[3])

Date

In [148]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1={"Name":"komal","age":21,"city":"Satara"}
dict2={"Dream":"Germany","year":2027,"language":"German"}
dict1.update(dict2)
print(dict1)

{'Name': 'komal', 'age': 21, 'city': 'Satara', 'Dream': 'Germany', 'year': 2027, 'language': 'German'}

In [211]:
# 30.Write a code to convert a list of string into a set.
my_list = ["apple", "banana", "apple", "cherry"]
komal_set = set(my_list)
print(komal_set)

{'apple', 'banana', 'cherry'}